{% extends 'base.html' %}

{% block title %}
  About Us
{% endblock %}
{% block body %}
<header style="background-color: #333; color: #fff; text-align: center; padding: 1em 0;">
    <h1>SHOPCART</h1>
    <p>Your Ultimate Destination for Seamless Shopping</p>
</header>

<section style="max-width: 800px; margin: 20px auto; padding: 20px; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>Who We Are:</h2>
    <p>
        SHOPCART is not just an e-commerce platform; it's a lifestyle destination. Founded with a passion for connecting people with the products they love, we strive to be your go-to online marketplace for all your needs.
    </p>

    <h2>Our Mission:</h2>
    <p>
        Our mission is simple – to empower you with choices and elevate your shopping experience. We aim to create a platform that goes beyond transactions, fostering a community where you can discover, connect, and indulge in a world of possibilities.
    </p>

    <h2>What Sets Us Apart:</h2>
    <ul>
        <li><strong>Unparalleled Selection:</strong> SHOPCART boasts a vast and diverse product catalog, carefully curated to cater to every taste and preference.</li>
        <li><strong>Competitive Prices:</strong> We work tirelessly to bring you the best prices on the market without compromising on quality.</li>
        <li><strong>User-Friendly Experience:</strong> Navigating through SHOPCART is a breeze with our intuitive and user-friendly interface.</li>
        <li><strong>Secure Transactions:</strong> Your security is our top priority. We've implemented robust security measures to ensure that your personal information is protected at all times.</li>
    </ul>

    <h2>Join the SHOPCART Community:</h2>
    <p>
        Become part of a vibrant and dynamic community of shoppers who share your passion for quality and style. Follow us on social media, subscribe to our newsletter, and stay updated on the latest arrivals, exclusive deals, and exciting promotions.
    </p>

    <p>Thank you for choosing SHOPCART – where shopping is not just a task, but an experience. We look forward to being your preferred online shopping destination.</p>

    <p>Happy Shopping!</p>

    <p>The SHOPCART Team</p>
</section>
{% endblock %}
